<!DOCTYPE html>
<html>
  <head>
    <title>Tense</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta property="og:title" content="Tense" />
    <meta property='og:image' content="<%= image_url('tense.png') %>"/>
    <meta property="og:description"
      content="A clone of the popular app Slack."
    />
    <meta property="og:url"
      content="https://tense-app.herokuapp.com"
    />
    
    <link rel="icon" href=<%= image_url('cat-no-mouth.ico') %>  type="image/icon type">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.12.0/devicon.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript">
      window.tempIcon = "<%= image_url('temp_icon.png') %>";
      window.gitHubLogo = "<%= image_url('GitHub-Mark-32px.png') %>";
      window.linkedInLogo = "<%= image_url('LI-In-Bug.png') %>";
      window.defaultAvatar = "<%= image_url('avatar.png') %>";
      window.screenshot = "<%= image_url('tense.png') %>";
      window.postcard = "<%= image_url('postcard.png') %>";
      window.treegen = "<%= image_url('treegen.png') %>";
      window.angelListIcon = "<%= image_url('AngelList_White_Victory_Hand.png') %>";
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
