<!DOCTYPE html>
<html>
  <head>
    <title>Tense</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript">
      window.tempIcon = "<%= image_url('temp_icon.png') %>";
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
