<!DOCTYPE html>
<html>
  <head>
    <title>Tense</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript">
      window.tempIcon = "<%= image_url('temp_icon.png') %>";
      window.gitHubLogo = "<%= image_url('GitHub-Mark-32px.png') %>";
      window.linkedInLogo = "<%= image_url('LI-In-Bug.png') %>";
      window.defaultAvatar = "<%= image_url('avatar.png') %>";
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
